[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytube = "*"
transformers = "*"
spacy = "*"
whisper = {path = "./whisper"}
bentoml = "*"
yake = "*"
nltk = "*"
sentencepiece = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.9"
